*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: #0d0430;
    color: #fd6f02;
  }

  .profile {
    height: 50px;
    margin-right: 5px;
    cursor: pointer;
    display: inline-block;
  }
  
  .sub-menu-wrap{
    position: absolute;
    top: 15%;
    right: 1%;
    width: 220px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  .sub-menu-wrap.open-menu{
    max-height: 400px;
  }

  .sub-menu{
    background-color: #0d0430;
    padding: 20px;
    margin: 10px;
  }

  .user-info{
    display: flex;
    align-items: center;
  }

  .user-info h3{
    font-weight: 500;
  }

  .sub-menu hr{
    height: 1px;
    width: 100%;
    margin: 15px 0 10px;

  }
  .user-info img{
    width: 60px;
    margin-right: 5px;
  }

  .sub-menu-link{
    display: flex;
    text-decoration: none;
    color: #fd6f02;
    margin: 12px  0px;
  }

  .sub-menu-link p{
    width: 100%;
    padding-top: 5px;
  }

  .sub-menu-link:hover p{
    font-weight: 600;
  }

  .sub-menu-link span{
    padding-top: 5px;
    font-size: 18px;
    transition: transform 0.5s;
  }

  .sub-menu-link:hover span{
    transform: translateX(5px);
  }

  .sub-menu-link img{
    height: 25px;
    width: 30px;
    padding-right: 5px;
  }

  
